
<div class="modal fade" id="addNewItemModal" tabindex="-1" aria-labelledby="addNewItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewItemModalLabel">Add New Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newItemForm" method="post" action="/app/add-item">
                    {% for key, props in input_types.items() %}
                    {% if props["type"] == "select" %}
                    <div class="mb-3">
                        <label for="item{{ key }}" class="form-label">{{ key }}</label>
                        <select class="form-select" name="{{ key }}_in" required>
                            {% for opt in props["options"] %}
                            <option value="{{ opt }}">{{ opt }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <div class="mb-3">
                        <label for="item{{ key }}" class="form-label">{{ key.capitalize() }}</label>
                        <input type="{{ props.type }}" class="form-control" id="item{{ key }}" name="{{ key}}_in" required>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
