
<tr id="item-row-{{ item._id }}" hx-trigger='cancel' class='editing' hx-get="/app/item/{{ item._id }}">
    {% for key, props in input_types.items() %}
    {% if props["type"] == "select" %}
    <td class="text-center">
        <select class="form-select" name="{{ key }}_in" required>
            {% for opt in props["options"] %}
                <option value="{{ opt }}" {% if opt == item[key] %}selected{% endif %}>{{ opt }}</option>
            {% endfor %}
        </select>
    </td>
    {% elif props["no_update"] %}
        <td>{{ item[key] }}</td>
    {% else %}
    <td><input type="{{ props['type'] }}" name="{{ key }}_in" value="{{ item[key] }}"></td>
    {% endif %}
    {% endfor %}
    <td>
        <button type="submit" class="btn btn-primary p-1 mb-1" hx-put="/app/update-item/{{ item._id }}" hx-include="closest tr">Save</button>
        <button type="button" class="btn btn-primary p-1 mb-1" hx-get="/app/item/{{ item._id }}">Cancel</button>
    </td>
</tr>