{% extends 'base.html' %}
{% block content %}

<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Drawing</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody hx-target="closest tr" hx-swap="outerHTML">
                {% for item in items %}
                {% include "item_row.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock %}