 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventory Management App</a>
           <div>
                <input class="form-control" type="search"
                       name="search" placeholder="Type to Search..." 
                       hx-post="/app/search" 
                       hx-trigger="input changed delay:500ms, search" 
                       hx-target="#inventory-table" 
                       hx-indicator=".htmx-indicator">
           </div>
            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#addNewItemModal">
                Add New Item
            </button>
        </div>
    </nav>

    {% include 'add_item_modal.html' %}
